<!-- start custom footer snippets -->
<div class="footer-grid">
  <!-- 첫 번째 칸: 회사 정보 -->
  <div class="footer-col slogun">
    <h2>SsemS</h2>
    <p>Play Director | Media Artist | Media Activist
      Having worked across diverse fields such as theater and community media, I am now taking off to expand my reach into the realm of new media, where technology and culture converge.</p>
  </div>

  <!-- 두 번째 칸: 링크 -->
  <div class="footer-col links">
    <h2>More Links</h2>
    <ul>
      <li><a href="/">HOME</a></li>

      <li><a href="https://www.youtube.com/@semikwan">PROJECT VIDEOS</a></li>
      <li><a href="https://soundcloud.com/ssem/sets/bwmucdjmydzb?si=2d3cbf739b2a4eb7a36eac613c092b87&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">SOUND WORKS</a></li>
      <li><a href="https://m.yes24.com/Goods/Detail/5303228">BAND VIA</a></li>
      <li><a href="https://maily.so/iimedia">MEDIA IMPACT NEWSLETTER</a></li>
    </ul>
  </div>
</div>


<!-- end custom footer snippets -->