<!-- start custom footer snippets -->
<div class="footer-grid">
  <!-- 첫 번째 칸: 회사 정보 -->
  <div class="footer-col slogun">
    <h2>SsemS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod.</p>
  </div>

  <!-- 두 번째 칸: 링크 -->
  <div class="footer-col links">
    <h2>Links</h2>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">FEATURES</a></li>
      <li><a href="#">PRODUCTS</a></li>
      <li><a href="#">TESTIMONIAL</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</div>


<!-- end custom footer snippets -->