<!-- start custom head snippets -->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
  <style>
    @font-face { font-family: 'KoPubWorldBatang'; font-weight: 300; font-style: normal; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KoPubWorldBatangLight.woff') format('woff'); }
    @font-face { font-family: 'KoPubWorldBatang'; font-weight: 500; font-style: normal; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KoPubWorldBatangMedium.woff') format('woff'); }
    @font-face { font-family: 'KoPubWorldBatang'; font-weight: 700; font-style: normal; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KoPubWorldBatangBold.woff') format('woff'); }
  </style>
  <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
