{% assign same_category_posts = site.documents | where: "category", page.category %}
<div class="page__related">
  {% include before-related.html %}
  <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
  </h2>
  <div class="grid__wrapper">
    {% assign count = 0 %}
    {% for post in same_category_posts %}
    {% if post.id == page.id %}{% continue %}{% endif %}
    {% if count >= 4 %}{% break %}{% endif %}
    {% include archive-single.html type="grid" %}
    {% assign count = count | plus: 1 %}
    {% endfor %}
  </div>
</div>